body {
  background-color: white;
  height: 100vh;
  margin: 0;
  width: auto;
  padding: 0;
}
header {
  background-color: white;
  position: sticky;
  top: 0;
}
.button {
  list-style: none;
  display: flex;
  padding: 10px;
  font-size: 25px;
  font-weight: 900;
  margin-left: auto;
}
a {
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  align-content: center;
  color: black;
}
nav {
  padding: 10px;
  display: flex;
}
.name img {
  margin: 20px;
}
.quote {
  text-align: center;
  color: darkslategrey;
  font-size: 50px;
  width: auto;
  height: auto;
  text-transform: capitalize;
}
#menu {
  margin-left: 40px;
  display: inline-block;
}
.heading {
  font-size: 40px;
  color: darkblue;
  font-style: italic;
  margin: 10px;
}
.type {
  font-size: 25px;
  list-style: none;
  margin: 0px;
}
.dishes {
  padding-left: 10%;
  padding-top: 2%;
  list-style: none;
}
section {
  border: 5px solid coral;
  display: flex;
  border-radius: 40px;
  width: 300px;
}
footer {
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
}
.grid-container{
display: grid;
grid-template-columns: 1fr 10fr 1fr;
}
.socials{
flex-direction: row;
justify-content: center;
align-content: center;
}
.socials img{
margin-top: 40px;
padding-left: 30%;
}
.ecom{
flex-direction: row;
justify-content: center;
align-content: center;

}
.ecom img{
margin-top: 40px;
margin: 30px;
}