body {
  background-color: beige;
  height: 100vh;
  margin: 0;
  width: auto;
}
header {
  background-color: brown;
  position: sticky;
}
.button {
  list-style: none;
  display: flex;
  padding: 10px;
  font-size: 25px;
  font-weight: 900;
  margin-left: auto;
}
a {
  padding: 10px;
  text-decoration: none;
  color: white;
}
nav {
  padding: 20px;
  display: flex;
}
.name {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 20px;
  font-size: 50px;
  font-style: italic;
  color: white;
}
.quote {
  text-align: center;
  color: darkslategrey;
  font-size: 50px;
  width: auto;
  height: auto;
  text-transform: capitalize;
}
#menu {
  margin-left: 40px;
  display: inline-block;
}
.heading {
  font-size: 40px;
  color: darkblue;
  font-style: italic;
margin: 10px;
}
.type {
  font-size: 25px;
list-style: none;
margin: 0px;

}
.dishes{
padding-left:10%;
padding-top: 2%;
list-style: none;
}
section{
border: 5px solid coral;
display: flex;
border-radius: 40px;
width: 300px;
}
